{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="keywords" content="this linter error is dumb"/>
  <meta name="description" content="Expenses">

  <title>
    {% block title %}{% endblock title %}
  </title>
</head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          <li>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock content %}
  </body>
</html>
