{% extends 'base.html' %}

{% block title %}
  My Receipts
{% endblock title %}

{% block content %}
  <body>
    <main>
      <div>
        <h1>Signup</h1>
        <form method="post">
          {% csrf_token %}
          {{ signup_form.as_p }}
          <button>Signup</button>
        </form>
      </div>
    </main>
  </body>
{% endblock content %}
