{% extends 'base.html' %}

{% block title %}
Expense Categories
{% endblock title %}

{% block content %}
<main>
  <div>
    <h1>Expenses</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th> Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in expenses %}
        <tr>
          <td>{{ category.name }}</td>
          <!-- Remember ExpenseCategory is a Foreign key and can be linked by related_name="receipts". We -->
          <td>{{ category.receipts.all|length }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}

<!-- expenses is context -->
