{% extends 'base.html' %}

{% block title %}
  Signup
{% endblock title %}

{% block content %}

<body>
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
      </thead>
      <tbody>
        {% for item in all_receipts %}
        <tr>
          <td>{{ item.vendor }}</td>
          <td>{{ item.total }}</td>
          <td>{{ item.tax }}</td>
          <td>{{ item.date|date:"m/d/y" }}</td>
          <td>{{ item.category.name }}</td>
          <td>{{ item.account.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
{% endblock content %}

<!-- all_receipts is context name -->
